In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [79]:
with open('../dataset/cost_nutri/eng_result.pkl', 'rb') as f:
    eng_result = pickle.load(f)

with open('../dataset/cost_nutri/chn_result.pkl', 'rb') as f:
    chn_result = pickle.load(f)

with open('../dataset/cost_nutri/arab_result.pkl', 'rb') as f:
    arab_result = pickle.load(f)

with open('../dataset/cost_nutri/arab_result.pkl', 'rb') as f:
    arab_result = pickle.load(f)

with open('../dataset/cost_nutri/fili_result.pkl', 'rb') as f:
    fili_result = pickle.load(f)

with open('../dataset/cost_nutri/french_result.pkl', 'rb') as f:
    french_result = pickle.load(f)

with open('../dataset/cost_nutri/german_result.pkl', 'rb') as f:
    german_result = pickle.load(f)

with open('../dataset/cost_nutri/greek_result.pkl', 'rb') as f:
    greek_result = pickle.load(f)

with open('../dataset/cost_nutri/hindi_result.pkl', 'rb') as f:
    hindi_result = pickle.load(f)

with open('../dataset/cost_nutri/hung_result.pkl', 'rb') as f:
    hung_result = pickle.load(f)

with open('../dataset/cost_nutri/irish_result.pkl', 'rb') as f:
    irish_result = pickle.load(f)

with open('../dataset/cost_nutri/italian_result.pkl', 'rb') as f:
    italian_result = pickle.load(f)

with open('../dataset/cost_nutri/jap_result.pkl', 'rb') as f:
    jap_result = pickle.load(f)

with open('../dataset/cost_nutri/kor_result.pkl', 'rb') as f:
    kor_result = pickle.load(f)

with open('../dataset/cost_nutri/kor_result.pkl', 'rb') as f:
    kor_result = pickle.load(f)

with open('../dataset/cost_nutri/port_result.pkl', 'rb') as f:
    port_result = pickle.load(f)

with open('../dataset/cost_nutri/russian_result.pkl', 'rb') as f:
    russian_result = pickle.load(f)

with open('../dataset/cost_nutri/spanish_result.pkl', 'rb') as f:
    spanish_result = pickle.load(f)

with open('../dataset/cost_nutri/swedish_result.pkl', 'rb') as f:
    swedish_result = pickle.load(f)

with open('../dataset/cost_nutri/thai_result.pkl', 'rb') as f:
    thai_result = pickle.load(f)

with open('../dataset/cost_nutri/viet_result.pkl', 'rb') as f:
    viet_result = pickle.load(f)

In [34]:
eng_summary = eng_result.describe()
eng_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.910000  259.563333   13.433333   10.136333      28.306667
std      2.922963   90.720523    9.281850    7.767933      16.294713
min      1.000000   50.000000    2.000000    0.000000       0.000000
25%      3.000000  190.000000    6.000000    4.000000      18.000000
50%      4.000000  240.000000    9.000000    8.500000      30.000000
75%      6.000000  320.000000   20.000000   15.000000      39.000000
max     15.000000  570.000000   53.000000   34.000000      70.000000

In [36]:
chn_summary = chn_result.describe()
chn_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     7.656667  279.293333   15.541333   10.619667      27.017333
std      4.555909  112.713598   11.970363    8.160688      20.258943
min      1.000000   55.000000    1.000000    0.000000       0.000000
25%      4.000000  187.500000    6.000000    4.375000      10.000000
50%      7.000000  270.000000   12.000000    9.000000      25.000000
75%     10.000000  350.000000   25.000000   15.000000      40.250000
max     20.000000  600.000000   55.000000   35.000000      87.000000

In [37]:
arab_summary = arab_result.describe()
arab_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     5.028333  241.443333   12.533333    8.493000      27.090000
std      2.761724   88.775732    9.967618    6.769515      16.026167
min      1.000000   60.000000    1.000000    0.000000       0.000000
25%      3.000000  180.000000    4.000000    3.000000      14.500000
50%      4.000000  220.000000   10.000000    7.000000      30.000000
75%      6.000000  300.000000   18.000000   12.000000      40.000000
max     20.000000  500.000000   50.000000   30.000000      67.000000

In [38]:
fili_summary = fili_result.describe()
fili_summary

           costs    calorie     protein         fat  carbohydrates
count  300.00000  300.00000  300.000000  300.000000     300.000000
mean     5.28000  260.41000   13.316667   10.074000      28.556667
std      3.37732   89.79882    9.721441    7.335796      16.279338
min      1.00000   90.00000    1.500000    0.000000       0.000000
25%      3.00000  190.00000    6.000000    4.000000      15.000000
50%      4.00000  240.00000    9.000000    9.000000      30.000000
75%      6.00000  320.00000   20.000000   15.000000      39.000000
max     20.00000  550.00000   50.000000   35.000000      75.000000

In [39]:
french_summary = french_result.describe()
french_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.965000  304.470000   14.923333   10.630667      35.353333
std      2.207378   99.478283    9.271317    6.960620      16.840244
min      1.500000   90.000000    2.000000    0.500000       0.000000
25%      3.000000  222.000000    8.000000    5.000000      25.000000
50%      4.000000  300.000000   12.000000   10.000000      36.000000
75%      6.000000  372.500000   21.000000   15.000000      50.000000
max     15.000000  600.000000   45.000000   30.000000      80.000000

In [40]:
german_summary = german_result.describe()
german_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.426667  292.556667   11.350000    9.795000      36.880000
std      1.981424   86.314778    7.462784    6.730389      16.119296
min      2.000000  100.000000    2.000000    0.500000       0.000000
25%      3.000000  230.000000    6.000000    5.000000      25.000000
50%      4.000000  300.000000    9.000000    9.000000      39.000000
75%      5.000000  350.000000   15.000000   14.250000      49.250000
max     15.000000  520.000000   45.000000   35.000000      80.000000

In [41]:
greek_summary = greek_result.describe()
greek_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.565000  269.003333   12.376667   10.213333      31.063333
std      2.256898   89.499332    9.609854    6.894777      17.378513
min      1.000000   90.000000    2.000000    0.500000       0.000000
25%      3.000000  200.000000    6.000000    4.750000      18.000000
50%      4.000000  250.000000    8.000000   10.000000      30.000000
75%      6.000000  342.500000   18.000000   15.000000      40.000000
max     15.000000  500.000000   45.000000   30.000000      75.000000

In [42]:
hindi_summary = hindi_result.describe()
hindi_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.075833  229.286667   11.930667    8.475333      26.793333
std      2.299336   82.259101    8.266000    6.344797      14.307795
min      0.500000   45.000000    2.000000    0.100000       0.000000
25%      2.500000  164.750000    6.000000    4.000000      15.000000
50%      3.500000  222.000000    9.000000    7.000000      28.000000
75%      5.000000  280.000000   18.000000   12.000000      39.000000
max     15.000000  510.000000   45.000000   28.000000      78.000000

In [43]:
hung_summary = hung_result.describe()
hung_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.223333  275.536667   12.486667   10.635667      30.860000
std      2.027331  100.050064    8.523222    7.058112      16.935656
min      1.000000   25.000000    1.000000    0.100000       0.000000
25%      3.000000  200.000000    6.000000    5.000000      18.000000
50%      4.000000  269.000000   10.000000   10.000000      30.000000
75%      5.000000  350.000000   18.000000   14.250000      40.000000
max     15.000000  610.000000   45.000000   35.000000      92.000000

In [44]:
irish_summary = irish_result.describe()
irish_summary

            costs     calorie    protein         fat  carbohydrates
count  300.000000  300.000000  300.00000  300.000000     300.000000
mean     4.948333  232.150000   10.20000    8.497333      27.313333
std      2.332301   93.517195    8.50418    5.798915      15.996712
min      1.000000   50.000000    0.00000    0.000000       0.000000
25%      3.000000  150.000000    4.00000    3.875000      15.000000
50%      4.000000  220.000000    8.00000    8.000000      26.000000
75%      6.000000  300.000000   13.25000   12.000000      37.000000
max     15.000000  600.000000   40.00000   25.000000     100.000000

In [45]:
italian_summary = italian_result.describe()
italian_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.330000  269.196667   13.523333    9.455333      31.450000
std      1.834571   83.675784    9.020756    7.082595      15.802317
min      2.000000   55.000000    2.000000    0.500000       0.000000
25%      3.000000  210.000000    6.000000    4.000000      20.000000
50%      4.000000  250.000000   10.000000    8.000000      33.000000
75%      5.000000  330.000000   20.000000   15.000000      40.000000
max     15.000000  500.000000   35.000000   30.000000      75.000000

In [46]:
jap_summary = jap_result.describe()
jap_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.164667  280.500000   14.055667    9.760333      31.956667
std      1.743627   88.602358    8.854483    6.581605      17.473959
min      1.500000   55.000000    1.000000    0.500000       0.000000
25%      3.000000  210.000000    8.000000    5.000000      20.000000
50%      4.000000  280.000000   12.000000    9.000000      30.000000
75%      5.000000  350.000000   20.000000   15.000000      42.500000
max     15.000000  550.000000   45.000000   30.000000      75.000000

In [47]:
kor_summary = kor_result.describe()
kor_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     5.740000  261.830000   13.603667   10.298000      27.145333
std      3.127567  102.070215   10.660028    7.514993      16.968811
min      1.000000   50.000000    1.000000    0.000000       0.000000
25%      3.000000  180.000000    5.000000    4.000000      13.000000
50%      5.000000  250.000000   10.000000    9.000000      25.500000
75%      7.000000  340.000000   20.000000   15.000000      40.000000
max     18.000000  580.000000   53.000000   35.000000      70.000000

In [48]:
port_summary = port_result.describe()
port_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.478333  250.160000   13.766667    9.032000      27.770000
std      2.085232   78.441984    8.998266    6.523144      15.846159
min      0.500000   90.000000    2.000000    0.000000       0.000000
25%      3.000000  190.000000    6.000000    4.375000      12.000000
50%      4.000000  230.000000   12.000000    8.000000      31.500000
75%      5.250000  305.750000   20.000000   13.000000      40.000000
max     15.000000  500.000000   45.000000   35.000000      68.000000

In [49]:
russian_summary = russian_result.describe()
russian_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.580000  253.380000   12.782333    8.121333      29.945333
std      2.286415   88.042835   10.047342    6.515544      17.214374
min      1.000000   23.000000    1.000000    0.000000       0.000000
25%      3.000000  180.000000    6.000000    3.000000      15.000000
50%      4.000000  250.000000    8.000000    7.000000      30.000000
75%      6.000000  310.000000   18.000000   10.000000      44.000000
max     15.000000  500.000000   45.000000   30.000000      87.000000

In [50]:
spanish_summary = spanish_result.describe()
spanish_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.366667  281.706667   13.770000    9.465000      34.633333
std      1.686229   83.349331    8.881067    6.560213      14.843629
min      1.000000   90.000000    2.000000    1.000000       0.000000
25%      3.000000  222.000000    6.000000    4.000000      25.000000
50%      4.000000  280.000000   12.000000    9.000000      35.000000
75%      5.000000  350.000000   19.250000   14.000000      45.000000
max     10.000000  520.000000   45.000000   30.000000      75.000000

In [51]:
swedish_summary = swedish_result.describe()
swedish_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.810833  292.650000   14.673333   10.120000      32.050000
std      2.206862   96.090785   10.336477    6.541143      16.682782
min      2.000000   55.000000    2.000000    0.500000       0.000000
25%      3.000000  220.000000    7.000000    5.000000      20.000000
50%      4.000000  295.000000   12.000000   10.000000      30.000000
75%      6.000000  350.000000   20.000000   14.000000      42.000000
max     15.000000  600.000000   55.000000   30.000000      90.000000

In [80]:
thai_summary = thai_result.describe()
thai_summary

           costs     calorie     protein         fat  carbohydrates
count  300.00000  300.000000  300.000000  300.000000     300.000000
mean     3.57000  225.280000   11.633333    8.073333      25.716667
std      1.63497   93.546198    8.767465    6.303735      16.403250
min      1.00000   70.000000    2.000000    0.000000       0.000000
25%      2.50000  150.000000    5.000000    4.000000      12.000000
50%      3.00000  210.000000    8.000000    7.000000      23.000000
75%      4.00000  290.000000   18.000000   10.000000      38.000000
max     15.00000  567.000000   45.000000   49.000000      70.000000

In [81]:
viet_summary = viet_result.describe()
viet_summary

            costs     calorie     protein         fat  carbohydrates
count  300.000000  300.000000  300.000000  300.000000     300.000000
mean     4.835000  247.563333   11.971667    9.202333      27.576667
std      2.613371  105.489111   10.377975    6.178615      16.543976
min      1.000000   70.000000    1.000000    0.000000       0.000000
25%      3.000000  150.000000    4.000000    5.000000      18.000000
50%      4.000000  220.000000    8.000000    9.000000      25.000000
75%      6.000000  335.000000   18.250000   12.000000      35.000000
max     15.000000  620.000000   50.000000   35.000000      97.000000

### Analysis

In [84]:
languages = {
    'English': eng_summary,
    'Chinese': chn_summary,
    'Arabic': arab_summary,
    'Filipino': fili_summary,
    'French': french_summary,
    'German': german_summary,
    'Greek': greek_summary,
    'Hindi': hindi_summary,
    'Hungarian': hung_summary,
    'Irish': irish_summary,
    'Italian': italian_summary,
    'Japanese': jap_summary,
    'Korean': kor_summary,
    'Portugese': port_summary,
    'Russian': russian_summary,
    'Spanish': spanish_summary,
    'Swedish': swedish_summary,
    'Thai': thai_summary,
    'Vietnamese': viet_summary
}

In [85]:
def plot_variable_boxplot(variable_name):
    combined_data = pd.DataFrame()

    for language, summary in languages.items():
        # Select the relevant statistics for the variable
        variable_data = summary.loc[['min', '25%', '50%', '75%', 'max'], variable_name].reset_index()
        variable_data.columns = ['Statistic', 'Value']
        variable_data['Language'] = language
        combined_data = pd.concat([combined_data, variable_data])

    plt.figure(figsize=(14, 8))
    sns.boxplot(x='Language', y='Value', data=combined_data)
    plt.title(f'Box Plot of {variable_name} across Languages')
    plt.xticks(rotation=45)
    plt.ylabel(variable_name)
    plt.show()

# Plotting box plots for each variable separately
plot_variable_boxplot('cost')
plot_variable_boxplot('calorie')
plot_variable_boxplot('protein')
plot_variable_boxplot('fat')
plot_variable_boxplot('carbohydrates')

KeyError: 'cost'